html, body {
  margin: 0;
}

#canvas-container {
  background: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes control {
  0% {
    top: -2em;
  }

  100% {
    top: 0;
  }
}

.key-suggest, .control {
  display: flex;
  justify-content: center;
  align-items: center;
  background: maroon;
  font-size: 1.4em;
  color: white;
  position: absolute;
  top: -2em;
  height: 2em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: 1s control forwards;
  animation-delay: 1s;
}

.key-suggest {
  left: 5vw;
}

.key-suggest i {
  font-size: 1.1em;
  padding: 0.5em;
}

.control {
  right: 5vw;
}

.control .volume {
  font-size: 0.5em;
  padding: 1em;
  margin: 0 1em;
}

.control i {
  cursor: pointer;
}
